.App {
  text-align: center;
}

body {
  background-color: grey;
}

h1 {
  font-size: 54px;
  color: black;
}

.playlistComponent {
  display: flex;
  width: 100%;
}

.playlist {
  flex:1;
}

.playlistComponent {
  margin: auto;
  width: 80vw;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 40px;
  grid-gap:20px;
}

.playlist {
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}
